body {
    margin: 0;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.containerPad {
    height: 70vh;
    background: linear-gradient(to bottom right, #30d87c, #d1eed3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: fit-content;
    margin: auto;
}